.img-figure{
	position: absolute;
	width:168px;
	height: 208px;
	margin: 0px;
	padding: 20px;
	background-color: #FFF;
	box-sizing: border-box;
	// box-shadow: 5px 3px 3px #dfdfdf;
	cursor: pointer;
	transform-style: preserve-3d;
	transition: left 0.6s ease-in-out,top .6s ease-in-out;
}
@media (min-width: 442px) {
	.img-figure{
	width:208px;
	height: 248px;
	margin: 0px;
	padding: 40px;
	// box-shadow: 10px 6px 6px #dfdfdf;
}
}

.title-box{
	.img-title{
		margin:10px;
		color:#a7a0a2;
		font-size: 20px;
		font-weight:bold
	}
	.img{
		width: 128px;
		height: 128px
	}
}